---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---
<Layout>
	<h1>Welcome to <span class="text-gradient">Weichselmarken</span></h1>
<h1>Südafrika</h1>
<h2>
	<a href="/COH/">Kap der Guten Hoffnung</a>.
	</h2>

</Layout>


