<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SBZ</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #333;
        margin: 0;
        padding: 20px;
      }
      h1 {
        color: #2c3e50;
      }
      .highlight {
        font-weight: bold;
        background-color: #29a85c;
      }
      .gestempelt {
        background-color: #12f334;
      }
      .fehlt {
        background-color: #ee7213;
      }
    </style>
  </head>
  <body>
    <h1>SBZ (Sowjetische Besatzungszone)</h1>
       {% for satz in saetze %}
    <h2>{{ satz.name }}</h2>
    <ul>   
      {% for marke in satz.marken %}
      <li
        class="{% if '**' in marke.value and 'o' in marke.value %}highlight {% elif 'o' in marke.value or '**' in marke.value %} gestempelt {% else %}fehlt{% endif %}"
      >
        {{ marke.name }}: {{ marke.value }}
      </li>
      {% endfor %}
    </ul>
    {% endfor %}

    <a href="{{ url_for('index') }}">Zurück zur Startseite</a>

 
</body>
</html>
